.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 200px;
}

.navbar-buttons button {
  margin-left: 10px;
}

/* Bootstrap classes */
.input-group {
  display: flex;
  align-items: center;
  width: 350px;
}

.input-group-append {
  margin-left: 10px;
}

.btn-primary {
  background-color: #137d90;
  color: #fff;
  border-color: black;
}

.btn-success {
  background-color: rgb(12, 220, 238);
  color: #fff;
  border-color: #28a745;
}

.btn-outline-secondary {
  background-color: wheat;
  color: grey;
  border-color: #6c757d;
}

.btn {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

/* Additional styling */
.navbar-container {
  justify-content: flex-start;
  background-color: rgb(128, 128, 128);
}

.search-input {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #e9ecef;
  font-size: 16px;
  transition: width 0.3s ease;
  box-shadow: none;
}

.search-input:focus {
  width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-buttons button {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.navbar-buttons button:hover {
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-decoration: underline;
}

h2:hover {
  color: #0056b3;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .search-input {
    width: 100%;
  }
  
  .navbar-buttons {
    margin-top: 10px;
  }
}

.navbar-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background-image: linear-gradient(to right, #007bff, #28a745);
  opacity: 0.05;
}

.navbar-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background-image: radial-gradient(#007bff 10%, transparent 10.01%);
  background-repeat: repeat;
  background-size: 3px 3px;
  transform: scale(10);
  opacity: 0.1;
}